

.location-list{
    border-radius: 10px;
    font-size: 2 em;
    line-height: 1.5 rem;
    width: 100px;
}
.clicked-place {
color: aqua;
} 
.unclicked-place{
    color: #fff;
}
    /*_______________________small mobs_________________________*/
    @media screen and (min-width: 360px){

       


    }