.outdoor-place-hide{
    
    overflow: hidden;
    height: 0;
}
.outdoor-place{
    
    overflow: hidden;
    height: 0;
}
.clicked-place {
    color: #f8f3da;
    font-size: 0.7em;
    line-height: 1.5em;

    } 
    .unclicked-place{
        color: #fff;
    }
    /*_______________________small mobs_________________________*/
@media screen and (min-width: 360px){
    
    
    
    }